.recent-announcements {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: #7dc35842;
  }
  
  .announcement-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .announcement-item {
    margin-bottom: 16px;
  }
  
  .date-icon {
    display: inline-block;
    margin-right: 16px;
    text-align: center;
  }
  
  .icon em {
    display: block;
  }
  
  .announcement-content {
    display: inline-block;
    vertical-align: top;
  }
  
  .separator {
    border: none;
    border-top: 1px solid #eee;
    margin: 16px 0;
  }
  
  .error-message {
    color: red;
    margin-bottom: 16px;
  }
  