.bg-colour-ud{
background-color: #8f6531;
}
/* .bg-colour-card-ud{
    background-color: #8f6531 ;
} */
.emp-view{
    background-color: #31588f; 
    box-shadow: 0 6px 20px #007bff78;
}
.secondary-card{
    background-color: #c6e8f8; 
}
